<h1> Edit Workout: </h1>

<%= form_for(@workout) do |f|%>

<% if @workout.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being updated:</h2>

    <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>

<% end %>
