<h1>Welcome to the homepage for <%= @game.title %> for the <%= @game.game_system %>!</h1>

<h2>Select a Guide to view it!</h2>

    <% if @game.guides.empty? %>
      This game does not currently have any guides.
    <% else %>
     <div class="show_guides">
      <ol>
        <% @game.guides.each do |guide| %>
          <li><%= link_to guide.title, game_guide_path(@game, guide) %></li>
        <% end %>
      </ol>
    </div>
   <% end %>


<h2>Create a new guide for this Game!</h2>
<%= render :partial => 'layouts/form_for_guides' %>
