<h1>Welcome to the homepage for <%= @game.title %>!</h1>

<h2>Select a Guide to view or <%= link_to "create", new_game_guide_path(@game) %> a new guide.</h2>

 <ul>
   <% @game.guides.each do |guide| %>
    <li><%= link_to guide.title, game_guide_path %></li>
   <% end %>
 </ul>
