<div class="container-fluid text-center">
  <h1>FitLib</h1>
  <img src="/images/Capture.JPG" class="img-responsive-center" alt="Image"><br>
  <p> Please <%= link_to("Sign in", new_user_session_path) %> or <%= link_to("Sign up", new_user_registration_path) %> </p>
  <br>
</div>
